@font-face {
  font-family: 'Helvetica-Neue';
  font-style: normal;
  font-weight: 400;
  src: url('~@/assets/fonts/Helvetica-Neue/helvetica-neue-regular.woff2') format("truetype"),
  url('~@/assets/fonts/Helvetica-Neue/HelveticaNeueRegular.woff') format("truetype"),
  url('~@/assets/fonts/Helvetica-Neue/HelveticaNeueRegular.ttf') format("truetype"),
  url('~@/assets/fonts/Helvetica-Neue/helvetica-neue-regular.eot') format("truetype"),
  url('~@/assets/fonts/Helvetica-Neue/HelveticaNeueRegular.ttf') format("truetype");

}