$color-primary: #4B4B4F;
$color-secondary: #EF483E;
$color-alternative: #CFCFCF;

// font-size

$font-xl: 56px;
$font-lg: 24px;
$font-xs: 15px;
$font-sm: 13px;

// font-size

// line-height

$line-xl: 68px;
$line-lg: 30px;
$line-xs: 18px;
$line-sm: 16px;

// line-height



