h1 {
  font-family: Helvetica-Neue, sans-serif;
  font-size: $font-xl;
  font-weight: 700;
  line-height: $line-xl;

}

h2 {
  font-family: Helvetica-Neue,sans-serif;
  font-size: $font-lg;
  font-weight: 700;
  line-height: $line-lg;

}



